*{
    margin: 0;
    padding: 0;
}
.swiper-container{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.693);
    display: flex;
    align-items: center;
    overflow: hidden;
}
.swiper-slide{
    width: 400px;
    height: 600px;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.6rem;
    box-shadow: 8px 8px 11px rgb(216, 216, 216, 0.4);
}
@media (max-width:540px) {
    .swiper-wrapper{
        padding: 0;
    }
}